/* 06. Fact CSS */
.afact:hover img {
    animation-name: wobble-vertical;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}
.afact--img {
    padding-left: 30px;
    position: relative;
    &:before {
        position: absolute;
        content: '';
        height: 60px;
        width: 60px;
        border-radius: 50%;
        border: 1px solid #ffb482;
        background: transparent;
        display: inline-block;
        top: 0px;
        left: 0px;
    }
}
.afact--text {
    display: flex;
    align-items: center;
    &__content {
        & h4 {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 0px;
            @media #{$lg} {
                font-size: 18px;
            }
        }
        & h3 {
            font-size: 27px;
            margin-bottom: 0px;
            @media #{$lg,$sm} {
                font-size: 24px;
            }
        }
    }
}
.afact--text__title h2 {
    font-size: 65px;
    margin-right: 15px;
    margin-bottom: 0px;
    @media #{$lg} {
        margin-right: 10px;
        font-size: 54px;
    }
}
.afact--text__title2 {
    & h2 {
        color: $theme-color;
    }
}
.fact-area-2.pt-130 {
    @media #{$xs} {
        padding-top: 40px;
        padding-bottom: 35px;
    }
}

//fact home three start
.fact-area-3 {
    position: relative;
    margin-bottom: -140px;
    &.about-fact-area-3 {
        &:before {
            left: auto;
            right: 0px;
        }
    }
    &:before {
        position: absolute;
        content: '';
        height: 100%;
        width: 210px;
        background: $theme-color-blue;
        top: 0px;
        left: 0px;
    }
}
.afact__3:hover {
    & i {
        animation-name: wobble-vertical;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
    }
}
.afact__3--icon {
    width: 100px;
    float: left;
    & i {
        font-size: 80px;
        color: $white;
        margin-top: 10px;
        display: inline-block;
    }
}
.afact__3--text {
    overflow: hidden;
    & h2 {
        font-size: 48px;
        color: $white;
        margin-bottom: 5px;
    }
    & span {
        font-size: 24px;
        color: $white;
        display: block;
        font-weight: 600;
        @media #{$laptop} {
            font-size: 22px;
        }
        @media #{$sm} {
            font-size: 19px;
        }
    }
}
.about-theme-bg-blue {
    padding-left: 165px;
    @media #{$laptop,$xs,$lg,$md} {
        padding-left: 15px;
        padding-right: 15px;
    }
}
//fact home three end

.team-fact-area {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}