/* 18. Gallery CSS */

.agallery {
    position: relative;
    overflow: hidden;
    &__img {
        border-radius: 5px;
        & img {
            border-radius: 5px;
        }
    }
    &__text {
        position: absolute;
        left: 0px;
        bottom: -100%;
        opacity: 0;
        visibility: hidden;
        @include transition(0.7s);
        &:before {
            position: absolute;
            content: '';
            left: 25px;
            bottom: -20px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 20px 15px 0 15px;
            border-color: #ffffff transparent transparent transparent;
        }
    }
    &:hover {
        & .agallery__text {
            opacity: 1;
            visibility: visible;
            bottom: 45px;
        }
    }
}
.gallery-active {
    & .slick-dots {
        bottom: -70px;
    }
}