/* 02. Header CSS */

.header-menu.header-sticky.sticky-menu,
.mobile-header.header-sticky.sticky-menu {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 999;
	background: #fff;
    animation: 800ms ease-in-out 0s normal none 1 running fadeInDown;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
    @include transition(.3s);
}
.sticky-menu {
    & .header-menu-bg-3 {
        box-shadow: none;
        padding: 0px 0px;
    }
}
.header-top {
    position: relative;
    &:before {
        position: absolute;
        content: '';
        height: 60px;
        width: 210px;
        background: $theme-color;
        top: 0px;
        left: 0px;
    }
}
.header-top-left {
    background: $theme-color;
    padding: 18px 0px;
    position: relative;
    @media #{$md} {
        text-align: center;
    }
    &:after {
        position: absolute;
        content: '';
        top: 0px;
        right: 0px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 60px 22px;
        border-color: transparent transparent #f3f6f9 transparent;
    }
    & span {
        color: $white;
        display: block;
        & i {
            font-size: 20px;
            vertical-align: bottom;
            color: $white;
            margin-right: 5px;
            line-height: 1;
            animation: rotated 2s infinite linear;
            display: inline-block;
        }
    }
}
.header-top-right {
    & ul {
        text-align: right;
        @media #{$md} {
            text-align: center;
        }
        & li {
            color: $heading-color;
            display: inline-block;
            padding: 18px 39px;
            border-right: 1px solid $grey-border;
            @media #{$lg} {
                padding: 18px 25px;
            }
            &:last-child {
                padding-right: 0px;
                border-right: 0px;
            }
            & i {
                font-size: 20px;
                vertical-align: middle;
                color: $theme-color;
                margin-right: 5px;
            }
        }
    }
}
li.header--social {
    & a {
        & i {
            color: rgba(255, 255, 255, 0.4);
            font-size: 16px;
            display: inline-block;
            margin-right: 18px;
            @include transition(.3s);
        }
        &:last-child {
            & i {
                margin-right: 0px;
            }
        }
        &:hover {
            & i {
                color: rgba(255, 255, 255, 1);
            }
        }
    }
}

//header menu css start
.header-menu {
    position: relative;
    &:before {
        height: 100%;
        width: 210px;
        top: 0px;
        right: 0px;
        background: $theme-color-blue;
        position: absolute;
        content: '';
        @media #{$md} {
            display: none;
        }
        @media #{$xs} {
            display: none;
        }
    }
    &.header-menu-2:before {
        display: none;
    }
}
.main-menu {
    & ul {
        & li {
            display: inline-block;
            margin: 0px 20px;
            position: relative;
            @media #{$laptop} {
                margin: 0px 18px;
            }
            @media #{$lg} {
                margin: 0px 10px;
            }
            & a {
                font-size: 16px;
                color: #212237;
                display: block;
                padding: 38px 0px;
                font-weight: 600;
                text-transform: uppercase;
            }
            /*submenu start*/
			& .sub-menu {
				background: $white none repeat scroll 0 0;
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
                left: 0;
                opacity: 0;
                position: absolute;
                top: 119%;
                transition: all 0.3s ease 0s;
                visibility: hidden;
                width: 240px;
                z-index: 9;
                border-top: 4px solid $theme-color;
                text-align: left;
                padding: 15px 0;
				& li {
					display: block;
					margin: 0px;
                    padding: 8px 25px 8px 25px;
					& a {
                        padding: 0px;
                        display: inline-block;
                        color: #212237;
                        position: relative;
                        &:before {
                            content: "";
                            width: 0;
                            height: 1px;
                            bottom: 0;
                            position: absolute;
                            left: auto;
                            right: 0;
                            z-index: -1;
                            transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
                            background: $theme-color;
                        }
					}
                    &:hover {
                        & a {
                            color: $theme-color;
                            &:before {
                                width: 100%;
                                left: 0;
                                right: auto;
                            }
                        }
                    }
				}
			}
			/*submenu end*/
            &:hover  {
				& a {
					color: $theme-color;
				}
                &.menu-item-has-children::after {
                    color: $theme-color;
                }
				& .sub-menu {
					opacity: 1;
					visibility: visible;
					top: 100%;
				}
			}
            &.menu-item-has-children {
                position: relative;
                &:after {
                    position: absolute;
                    content: '\f067';
                    font-size: 12px;
                    color: #212237;
                    top: 50%;
                    transform: translateY(-50%);
                    right: -14px;
                    font-family: "Font Awesome 5 Pro";
                    @include transition(.3s);
                    @media #{$lg} {
                        right: -10px;
                    }
                }
            }
        }
    }
}
.header-right {
    background: $theme-color-blue;
    padding: 10px 0px;
    position: relative;
    @media #{$lg} {
        background: none;
    }
    &:before {
        height: 100%;
        width: 41px;
        top: 0px;
        left: 0px;
        background: $white;
        position: absolute;
        content: '';
        z-index: 1;
        @media #{$desktop} {
           width: 41px;
        }
        @media #{$laptop} {
            display: none;
        }
        @media #{$lg} {
            display: none;
        }
        @media #{$md} {
            display: none;
        }
    }
    & ul {
        & li {
            display: inline-block;
            margin-right: 35px;
            vertical-align: middle;
            &:last-child {
                margin-right: 0px;
            }
            @media #{$desktop} {
                margin-right: 10px;
            }
            @media #{$laptop} {
                margin-right: 10px;
            }
            & span {
                font-size: 24px;
                color: $white;
                display: inline-block;
                font-weight: 600;
                & i {
                    font-size: 36px;
                    color: $white;
                    display: inline-block;
                    height: 80px;
                    width: 80px;
                    text-align: center;
                    background: $theme-color;
                    border: 5px solid $white;
                    border-radius: 50%;
                    line-height: 60px;
                    margin-right: 20px;
                    @media #{$desktop} {
                        margin-right: 5px;
                    }
                }
            }
            &.user__text {
                @media #{$laptop} {
                    display: none;
                }
                @media #{$lg} {
                    display: none;
                }
                @media #{$md} {
                    display: none;
                }
            }
            & a {
                vertical-align: middle;
            }
        }
    }
    &.header-right-2 {
        background: transparent;
        & ul {
            & .language {
                margin-right: 40px;
                @media #{$lg} {
                    display: none;
                }
            }
        }
        &:before {
            display: none;
        }
    }
}

.side-menu-icon {
	position: relative;
}
.mobile-menu.mean-container {
	clear: both;
	overflow: hidden;
}
.contact-infos {
	margin-top: 30px;
    & h4 {
        font-size: 27px;
        color: $white;
        margin-bottom: 20px;
    }
    & ul {
        & li {
            font-size: 15px;
            color: $white;
            margin-bottom: 15px;
            list-style: none;
            &:last-child {
                margin-bottom: 0px;
            }
            & i {
                color: $theme-color;
                vertical-align: middle;
                width: 25px;
                display: inline-block;
            }
        }
    }
}
.sidebar__menu--social {
	margin-top: 25px;
    & a {
        height: 40px;
        width: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 14px;
        display: inline-block;
        margin-right: 5px;
        background: #393f53;
        color: #ffffff;
        position: relative;
        z-index: 1;
        overflow: hidden;
        border-radius: 5px;
        &:before {
            position: absolute;
            content: "";
            top: 0px;
            left: 0px;
            height: 100%;
            width: 0%;
            background: #ff6600;
            z-index: -1;
            transform: rotate(90deg);
            @include transition(.3s);
        }
        &:hover {
            &:before {
                width: 100%;
            }
            & i {
                transform: rotate(360deg);
            }
        }
        &:last-child {
            margin-right: 0px;
        }
    }
}
//header style two start
.header-top-left-2 {
    &:after {
        border-color: transparent transparent $black-soft transparent;
    }
}
.header-top-right-2 {
    & ul {
        & li {
            color: $white;
            border-right: 1px solid #4a536f;
        }
    }
}
.language {
    position: relative;
    margin-right: 40px;
    &:after {
        position: absolute;
        content: '\f078';
        right: -20px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 16px;
        font-family: "Font Awesome 5 Pro";
        @include transition(.3s);
    }
    &:before {
        position: absolute;
        content: '\f0ac';
        left: -25px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 16px;
        font-family: "Font Awesome 5 Pro";
        @include transition(.3s);
    }
    & .language-dropdown {
        background: $black-soft;
        padding: 15px 25px;
        position: absolute;
        top: 140%;
        right: -20px;
        opacity: 0;
        visibility: hidden;
        width: 120px;
        @include transition(.3s);
        text-align: left;
        border-top: 4px solid $theme-color;
        & a {
            font-size: 16px;
            color: $white;
            font-weight: 600;
            display: block;
            padding: 5px 0px;
            &:hover {
                color: $theme-color;
            }
        }
    }
    &:hover {
        color: $theme-color;
        .language-dropdown {
            opacity: 1;
            visibility: visible;
            top: 120%;
        }
    }
}

//header style two end

//header style three start

.header-top-3 {
    &:before {
        display: none;
    }
}
.header-top-left-3 {
    background: transparent;
    padding: 0px;
    &:after {
        display: none;
    }
    & span {
        & i {
            height: 48px;
            width: 48px;
            text-align: center;
            line-height: 54px;
            background: $theme-color;
            color: $white;
            display: inline-block;
            vertical-align: middle;
            animation: none;
        }
    }
}
.header-top-right-3 {
    & ul {
        & li {
            border-color: rgba(255,255,255,0.2);
            padding: 12px 39px;
        }
    }
}
.header--terms {
    & a {
        color: $white;
        display: inline-block;
        position: relative;
        padding: 0px 10px;
        border-right: 2px solid $white;
        line-height: 1;
        &:hover {
            color: $theme-color;
        }
        &:last-child {
            padding-right: 0px;
            border-right: 0px;
        }
    }
}
.header__widget {
    display: inline-block;
    padding: 0px 32px;
    border-right: 1px solid #dddee0;
    @media #{$lg} {
        padding: 0px 6px;
        border-right: 0px;
    }
    &:last-child {
        padding-right: 0px;
        border-right: 0px;
    }
    &--icon {
        width: 60px;
        float: left;
        & i {
            font-size: 45px;
            color: $theme-color;
        }
    }
    &--text {
        overflow: hidden;
        & h4 {
            font-size: 20px;
            margin-bottom: 0px;
        }
    }
    & .header__widget--icon__phone {
        & i {
            animation: phone-icon-animate 1s ease-in-out infinite;
            display: inline-block;
        }
    }
}

.header-menu-3 {
    margin-bottom: -45px;
}
.header-menu-bg-3 {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px 0px rgba(0, 6, 91, 0.06);
    padding: 0px 60px;
    @media #{$md,$xs} {
        padding: 0px;
        background: transparent;
    }
}
.main-menu-3 {
    & ul {
        & li {
            &:first-child {
                margin-left: 0px;
            }
            & a {
                padding: 33px 0px;
            }
        }
    }
}

//header style three end

