/* 10. Portfolio CSS */

.aportfolio__text {
    box-shadow: 0px 0px 30px 0px rgba(0, 5, 63, 0.1);
    background: $white;
    padding: 25px 35px 30px 35px;
    margin: 0px 20px;
    margin-top: -45px;
    @include transition(.3s);
    @media #{$md} {
        padding: 25px 25px 30px 25px;
    }
    & span {
        display: block;
        margin-bottom: 5px;
    }
}
.aportfolio__text--title {
    font-size: 27px;
    margin-bottom: 0px;
    @media #{$md} {
        font-size: 24px;
    }
    &:hover {
        color: $theme-color;
    }
}
.aportfolio:hover {
    & img {
        opacity: 0.7;
    }
}
.aportfolio-menu {
    @media #{$md} {
            text-align: left !important;
            margin-bottom: 50px;
        }
    @media #{$xs} {
            text-align: left !important;
            margin-bottom: 40px;
        }
    & button {
        border: 1px solid #dce1e4;
        height: 40px;
        line-height: 38px;
        padding: 0px 30px;
        border-radius: 50px;
        background: none;
        color: $heading-color;
        margin-left: 10px;
        outline: none;
        cursor: pointer;
        display: inline-block;
        @media #{$lg} {
            padding: 0px 25px;
        }
        @media #{$xs} {
            margin-bottom: 10px;
            margin-left: 0px;
            margin-right: 10px;
        }
        &.active {
            background: $theme-color;
            color: $white;
            border-color: $theme-color;
        }
        &:first-child {
            margin-left: 0px;
        }
    }
}
.aportfolio__img {
    overflow: hidden;
    position: relative;
    & img {
        width: 100%;
    }
}
.aportfolio {
    &:hover {
        & img {
            opacity: 0.7;
            transform: scale3d(1.1, 1.1, 1.1);
        }
        & .aportfolio__img--icon {
            height: 100%;
        }
        & .aportfolio__inner--text {
            background: $theme-color;
            & h4,
            & span {
                color: $white;
            }
        }
    }
}

//portfolio inner

.aportfolio__img--icon {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 0%;
    width: 100%;
    background: rgba(29, 40, 75,0.4);
    @include transition(.5s);
    & a {
        height: 70px;
        width: 70px;
        line-height: 70px;
        vertical-align: middle;
        font-size: 18px;
        color: $theme-color;
        display: inline-block;
        background: $white;
        text-align: center;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        @include transition(.3s);
        &:hover {
            background: $theme-color;
            color: $white;
        }
    }
}
.aportfolio-menu-inner {
    @media #{$xs} {
        text-align: center !important;
    }
    & button {
        margin: 0px 5px;
        margin-bottom: 10px;
        @media #{$md} {
            padding: 0px 25px;
        }
    }
}

//portfolio details page start
.project--details__info {
    padding: 6px 30px;
    & ul {
        & li {
            padding: 24px 0px;
            border-bottom: 1px solid #ff944d;
            list-style: none;
            &:last-child {
                border-bottom: 0px;
            }
            & span {
                color: $white;
                display: block;
                margin-bottom: 5px;
            }
            & h4 {
                margin-bottom: 0px;
                font-size: 27px;
                color: $white;
            }
        }
    }
}
.project-description-list {
    & ul {
        padding-top: 8px;
        & li {
            margin-bottom: 20px;
        }
    }
}
div.project-description-video {
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media #{$xs} {
        min-height: 450px;
    }
    &:before {
        background: rgba(21, 32, 66, 0.85);
    }
}
.project-description-img img {
    width: 100%;
}