/* 12. Price CSS */

.pricing-area {
    @media #{$md} {
       padding-top: 120px;
    }
    @media #{$xs} {
        padding-top: 120px;
    }
}
.aprice-bg {
    background: $grey;
    padding: 0px 15px 0px 15px;
}
.aprice {
    padding: 40px 35px;
    border: 1px solid #e8e7e7;
    background: $white;
    transform: translateY(15px);
    @include transition(.4s);
    &:hover {
        box-shadow: 0px 10px 20px 0px rgba(1, 23, 88, 0.05);
        border-color: $white;
    }
    @media #{$xs} {
           padding: 25px 20px; 
        }
}
.aprice__icon {
    width: 85px;
    float: left;
    & i {
        font-size: 60px;
        color: $theme-color-blue;
    }
}
.aprice__icon--text {
    & span {
        margin-bottom: 5px;
        display: block;
    }
    & h4 {
        font-size: 27px;
        margin-bottom: 0px;
    }
}
.aprice__price--wrapper {
    background: #f7f7f7;
    padding: 10px 10px 15px 10px;
    text-align: center;
    & h2 {
        font-size: 45px;
        @include transition(.2s);
        margin-bottom: 0px;
        font-weight: 700;
        & span {
            font-weight: 500;
            font-size: 16px;
            color: $body-text-color;
        }
    }
}
.aprice__list {
    & ul {
        margin: 35px 0px 40px 0px;

        & li {
            margin-bottom: 25px;
            list-style: none;
            &:last-child {
                margin-bottom: 0px;
            }
            & i {
                height: 30px;
                width: 30px;
                border: 1px solid #ccc;
                color: $body-text-color;
                display: inline-block;
                margin-right: 15px;
                border-radius: 50%;
                line-height: 28px;
                text-align: center;
                @include transition(.3s);
            }
            &:hover {
                & i {
                    background: $theme-color;
                    border-color: $theme-color;
                    color: $white;
                }
            }
        }
    }
}
.aprice-bg:hover {
    & .aprice__price--wrapper {
        & h2,
        & span {
            color: $theme-color;
        }
    }
    & img {
        animation-name: animation-pulse-shrink;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
}
