/* 22. Skill CSS */

.skill__img {
    & img {
        max-width: inherit;
        margin-left: -165px;
        border-radius: 5px;
        @media #{$lg,$md,$xs} {
            max-width: 100%;
            margin-left: 0px;
        }
    }
}
.skill--title__wrapper {
    margin-bottom: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & span {
        color: $heading-color;
    }
}
.skill--title {
    font-size: 16px;
    display: inline-block;
    margin-bottom: 0px;
    font-weight: 500;
}
.skill__wrapper {
    & .progress {
        height: 10px;
        border-radius: 0px;
    }
}